@model PlayFootballApp.BusinessLogic.Models.Home.SearchPitchViewModel

@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <div class="col-12 row">
        <div class="row col-12">
            <div class="col-lg-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Zaznacz swoją lokalizacje</h5>
                        <div class="medium-map" id="map"></div>
                        <input id="localisationX" type="hidden" asp-for="LocalisationX" />
                        <input id="localisationY" type="hidden" asp-for="LocalisationY" />
                        <div class="form-group col-md-12 row mt-3">
                            <label class="control-label">Boiska w promieniu (km)</label>
                            <input asp-for="Distance" type="number" value="5" min="0.5" step="0.5" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Parametry podstawowe</h5>
                        <div class="form-group col-md-12 row">
                            <label class="control-label">Liczba miejsc</label>
                            <input type="number" asp-for="SpotNumber" value="1" min="1" class="form-control" />
                            <span asp-validation-for="SpotNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12 row">
                            <label class="control-label">Od</label>
                            <input id="startDate" asp-for="StartDate" type="date" class="form-control" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12 row">
                            <label class="control-label">Do:</label>
                            <input id="endDate" asp-for="EndDate" type="date" class="form-control" />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Wyszukaj boiska</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>

<script>
    var mapsPlaceholder = [];
    var marker;

    var redIcon = new L.Icon({
	iconUrl: 'img/marker-icon-2x-red.png',
	shadowUrl: 'img/marker-shadow.png',
	iconSize: [25, 41],
	iconAnchor: [12, 41],
	popupAnchor: [1, -34],
	shadowSize: [41, 41]
});

    $(document).ready(function () {
        var date = new Date();
        var dd = date.getDate();
        var mm = date.getMonth()+1;
        var yyyy = date.getFullYear();
         if(dd<10){
                dd='0'+dd
            } 
            if(mm<10){
                mm='0'+mm
            } 

        date = yyyy + '-' + mm + '-' + dd;
        document.getElementById("startDate").setAttribute("min", date);
        document.getElementById("endDate").setAttribute("min", date);

        L.Map.addInitHook(function () {
            mapsPlaceholder.push(this); // Use whatever global scope variable you like.
        });

        var mymap;
        if ($("#localisationX").val() != 0 && $("#localisationY").val() != 0) {
            var locX = $("#localisationX").val() + "";
            var locY = $("#localisationY").val() + "";
            locX = locX.replace(",", ".");
            locY = locY.replace(",", ".");
            var latlng = L.latLng(locX, locY);
            mymap = L.map('map').setView(latlng, 12);
        }
        else {
            mymap = L.map('map').setView([52.222, 21.007], 12);
        }


        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoiaXJla2lzIiwiYSI6ImNrMnAyNmZhdjAyc2gzbXBsczJwMmlrNWgifQ.YUpHsfR2Kyp-K8cJD6rRHw'
        }).addTo(mymap);

        //TODO: Fix this
     //   mymap.addControl( new L.Control.Search({
		   // url: 'https://nominatim.openstreetmap.org/search?format=json&q={s}',
		   // jsonpParam: 'json_callback',
		   // propertyName: 'display_name',
		   // propertyLoc: ['lat','lon'],
		   // marker: L.circleMarker([0,0],{radius:30}),
		   // autoCollapse: true,
		   // autoType: false,
		   // minLength: 2,
	    //}) );

        mymap.on('click', onMapClick);
    });

    function onMapClick(e) {
        var mymap = mapsPlaceholder.pop();
        if (marker != undefined)
            mymap.removeLayer(marker);

        var locX = e.latlng.lat + "";
        locX = locX.replace(".", ",");
        var locY = e.latlng.lng + "";
        locY = locY.replace(".", ",");

        $("#localisationX").val(locX);
        $("#localisationY").val(locY);

        var redIcon = new L.Icon({
            iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        marker = L.marker(e.latlng, {icon: redIcon}).addTo(mymap);
        mapsPlaceholder.push(mymap);
    }
</script>   