@model PlayFootballApp.BusinessLogic.Models.Pitch.PitchCreateViewModel
@{
    ViewData["Title"] = "Edytuj boisko";
}

<div class="text-center">
    <h1>Edytuj boisko</h1>
    <form method="post">
        <div id="details-div">
            <input asp-for="Id" type="hidden"/>

            <label>Lokalizacja</label>
            <div id="mapid"></div>
            <input asp-for="LocalisationX" id="localisationX" type="hidden" />
            <input asp-for="LocalisationY" id="localisationY" type="hidden" />

            <div class="form-group col-md-12 row">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" id="name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group col-md-12 row">
                <label asp-for="SpotNumber" class="control-label"></label>
                <input asp-for="SpotNumber" id="weight" class="form-control" />
                <span asp-validation-for="SpotNumber" class="text-danger"></span>
            </div>

            <div class="form-group col-md-12 row">
                <div class="col-md-3 form-group">
                    <label>Dzień tygodnia</label>
                    <select class="form-control" id="weekDaySelect" form="carform">
                        <option value="1">Poniedziałek</option>
                        <option value="2">Wtorek</option>
                        <option value="3">Środa</option>
                        <option value="4">Czwartek</option>
                        <option value="5">Piątek</option>
                        <option value="6">Sobota</option>
                        <option value="7">Niedziela</option>
                    </select>
                </div>
                <div class="col-md-3 form-group">
                    <label>Godzina rozpoczęcia</label>
                    <input class="form-control" id="startHour" type="time" />
                </div>
                <div class="col-md-3 form-group">
                    <label>Godzina zakończenia</label>
                    <input class="form-control" id="endHour" type="time" />
                </div>
                <div class="col-md-3">
                    <button onclick="AddHour()" type="button" class="btn btn-warning m-1 mt-3">Dodaj godzinę</button>
                </div>
            </div>


            <table id="HoursTable" class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">Dzień tygodnia</th>
                        <th scope="col">Rozpoczęcie</th>
                        <th scope="col">Zakończenie</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <input asp-for="WeekDays" id="weekDaysInput" type="hidden" />
            <input asp-for="StartHours" id="startHoursInput" type="hidden" />
            <input asp-for="EndHours" id="endHoursInput" type="hidden" />

            <div class="form-group col-md-12 row pull-right">
                <div class="col-9"></div>
                <button type="button" id="cancelButton" asp-route="Pitch/Index" class="btn btn-secondary m-1 mt-3">Anuluj</button>
                <button type="submit" disabled id="submit-button" class="btn btn-primary m-1 mt-3">Aktualizuj</button>
            </div>

        </div>
    </form>
</div>

<script>
    var mapsPlaceholder = [];
    var marker;

    $(document).ready(function () {
        L.Map.addInitHook(function () {
            mapsPlaceholder.push(this); // Use whatever global scope variable you like.
        });

        var locX = $("#localisationX").val() + "";
        var locY = $("#localisationY").val() + "";
        locX = locX.replace(",", ".");
        locY = locY.replace(",", ".");
        var latlng = L.latLng(locX, locY);

        var mymap = L.map('mapid').setView(latlng, 14);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoiaXJla2lzIiwiYSI6ImNrMnAyNmZhdjAyc2gzbXBsczJwMmlrNWgifQ.YUpHsfR2Kyp-K8cJD6rRHw'
        }).addTo(mymap);

        mymap.addControl( new L.Control.Search({
		    url: 'https://nominatim.openstreetmap.org/search?format=json&q={s}',
		    jsonpParam: 'json_callback',
		    propertyName: 'display_name',
		    propertyLoc: ['lat','lon'],
		    marker: L.circleMarker([0,0],{radius:30}),
		    autoCollapse: true,
		    autoType: false,
		    minLength: 2,
	    }) );

        mymap.on('click', onMapClick);

        $('#cancelButton').click(function () {
            document.location = '@Url.Action("Index","Home")';
        });

         $('.deleteRecordButton').click(function (event) {
            var rowindex = $(this).closest('tr').index();
             console.log(rowindex);
        });


        if ($("#localisationX").val() != undefined) {
            marker = L.marker(latlng).addTo(mymap);
            mapsPlaceholder.push(mymap);
            $("#submit-button").prop('disabled', false);
        }

        if ($("#weekDaysInput").val() != undefined) {
            var weekDays = $("#weekDaysInput").val().split(";");
            var startHours = $("#startHoursInput").val().split(";");
            var endHours = $("#endHoursInput").val().split(";");
            console.log(weekDays);
            console.log(startHours);

            for (var i = 0; i < weekDays.length-1; i++) {
                var tableRef = document.getElementById('HoursTable').getElementsByTagName('tbody')[0];

                // Insert a row in the table at the last row
                var newRow = tableRef.insertRow();

                // Insert a cell in the row at index 0
                var newCell0 = newRow.insertCell(0);
                var newCell1 = newRow.insertCell(1);
                var newCell2 = newRow.insertCell(2);
                var newCell3 = newRow.insertCell(3);

                // Append a text node to the cell
                console.log($("#weekDaySelect"));

                $("#weekDaySelect").val(weekDays[i]);
                newCell0.appendChild(document.createTextNode($("#weekDaySelect option:selected").text()));
                newCell1.appendChild(document.createTextNode(startHours[i]));
                newCell2.appendChild(document.createTextNode(endHours[i]));
                newCell3.innerHTML = "<button type='button' class='btn btn-danger deleteRecordButton'>Usuń</button>";

                 $('.deleteRecordButton').click(function (event) {
                    var rowindex = $(this).closest('tr').index();
                    DeleteRow(rowindex);
                });
            }
        }
    });

    function onMapClick(e) {
        var mymap = mapsPlaceholder.pop();
        if (marker != undefined)
            mymap.removeLayer(marker);

        var locX = e.latlng.lat + "";
        locX = locX.replace(".", ",");
        var locY = e.latlng.lng + "";
        locY = locY.replace(".", ",");

        $("#localisationX").val(locX);
        $("#localisationY").val(locY);
        $("#submit-button").prop('disabled', false);
        marker = L.marker(e.latlng).addTo(mymap);
        mapsPlaceholder.push(mymap);
    }

    function AddHour() {
        var tableRef = document.getElementById('HoursTable').getElementsByTagName('tbody')[0];
        var startHour = $("#startHour").val();
        var endHour = $("#endHour").val();

        if (endHour < startHour)
            return

        if (startHour == "" || endHour == "")
            return;

        // Insert a row in the table at the last row
        var newRow = tableRef.insertRow();

        // Insert a cell in the row at index 0
        var newCell0 = newRow.insertCell(0);
        var newCell1 = newRow.insertCell(1);
        var newCell2 = newRow.insertCell(2);
        var newCell3 = newRow.insertCell(3);

        // Append a text node to the cell
        console.log($("#weekDaySelect"));

        newCell0.appendChild(document.createTextNode($("#weekDaySelect option:selected").text()));
        newCell1.appendChild(document.createTextNode(startHour));
        newCell2.appendChild(document.createTextNode(endHour));
        newCell3.innerHTML = "<button type='button' class='btn btn-danger deleteRecordButton'>Usuń</button>";

        $("#weekDaysInput").val($("#weekDaysInput").val() + $("#weekDaySelect").val() + ";");
        $("#startHoursInput").val($("#startHoursInput").val() + startHour + ";");
        $("#endHoursInput").val($("#endHoursInput").val() + endHour + ";");

         $('.deleteRecordButton').click(function (event) {
            var rowindex = $(this).closest('tr').index();
             DeleteRow(rowindex);
        });
    }

    function DeleteRow(index) {
        if (index == -1)
            return;
        debugger;
        var tableRef = document.getElementById('HoursTable').getElementsByTagName('tbody')[0];
        tableRef.deleteRow(index);

        var weekDays = $("#weekDaysInput").val().split(";");
        var startHours = $("#startHoursInput").val().split(";");
        var endHours = $("#endHoursInput").val().split(";");

        weekDays.splice(index, 1);
        startHours.splice(index, 1);
        endHours.splice(index, 1);

        var newDays = "";
        var newStart = "";
        var newEnd = "";

        for (var i = 0; i < weekDays.length - 1; i++)
        {
            newDays += weekDays[i] + ";";
            newStart += startHours[i] + ";";
            newEnd += endHours[i] + ";";
        }

        $("#weekDaysInput").val(newDays);
        $("#startHoursInput").val(newStart);
        $("#endHoursInput").val(newEnd);
    }
</script>
